body{
  overflow-x:hidden;
  color:#FFF;
  font-family:Helvetica;
  font-size:200%;
}
#page {
  overflow:hidden;
  white-space:nowrap;
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color:#CCC;
  display:flex;
  flex-wrap:no-wrap;
}
.pane {
  flex:0 0 100vw;
  height:100vh;
  display:flex;
  position:relative;
  align-items:center;
  justify-content:center;
  background-color: #45CCFF; /* sky color */
  z-index:-10;
}

/* CONTAINER */

@media (min-width: 768px) and (max-width: 1024px) {
  .container {
    -moz-transform: scale(0.8, 0.8);
    /* Moz-browsers */
    zoom: 0.8;
    /* Other non-webkit browsers */
    zoom: 80%;
    /* Webkit browsers */
  }
}
@media (min-width: 420px) and (max-width: 798px) {
  .container {
    -moz-transform: scale(0.5, 0.5);
    /* Moz-browsers */
    zoom: 0.5;
    /* Other non-webkit browsers */
    zoom: 50%;
    /* Webkit browsers */
  }
}
@media (min-width: 100px) and (max-width: 420px) {
  .container {
    -moz-transform: scale(0.3, 0.3);
    /* Moz-browsers */
    zoom: 0.3;
    /* Other non-webkit browsers */
    zoom: 30%;
    /* Webkit browsers */
  }
}





/* WATER */
#water {
  -webkit-animation: water-animation 3s linear infinite;
  -moz-animation: water-animation 3s linear infinite;
  -o-animation: water-animation 3s linear infinite;
  animation: water-animation 3s linear infinite;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 111.9%;
  height: 40%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  z-index: 50;
}
#water > span {
  position: relative;
  display: inline-block;
  overflow: hidden;
  height: 100%;
  width: 60px;
  z-index: 0;
}
#water > span:before {
  -moz-border-radius-topleft: 110px 90px;
  -webkit-border-top-left-radius: 110px 90px;
  border-top-left-radius: 110px 90px;
  -moz-border-radius-topright: 110px 90px;
  -webkit-border-top-right-radius: 110px 90px;
  border-top-right-radius: 110px 90px;
  content: " ";
  position: absolute;
  background: #2495c0;
  bottom: 0;
  left: -20px;
  height: 160px;
  width: 100px;
  margin-top: 40px;
  z-index: 1;
}
#water > span:after {
  content: " ";
  position: absolute;
  bottom: 35%;
  left: -320px;
  width: 0;
  height: 0px;
  border-style: solid;
  border-color: transparent transparent #24a6d6;
  border-width: 0 350px 100px 350px;
  z-index: 0;
}

@-webkit-keyframes water-animation {
  0% {
    left: 0px;
  }
  100% {
    left: -120px;
  }
}
@-moz-keyframes water-animation {
  0% {
    left: 0px;
  }
  100% {
    left: -120px;
  }
}
@-o-keyframes water-animation {
  0% {
    left: 0px;
  }
  100% {
    left: -120px;
  }
}
@keyframes water-animation {
  0% {
    left: 0px;
  }
  100% {
    left: -120px;
  }
}

#scene {
  display: inline-block;
  font-size: 0;
  width: 500%;
  height:80%;
  position: absolute;
  bottom:0;
  left:0;
}

/* GRASS */
.floor {
  position: absolute;
  width: 500%;
  height: 400px;
  bottom: calc(0px);
  left: calc(0px);
  
  background-image: linear-gradient(to top, #915f3c 100px, #8CC152 100px); /*grass color*/
}


/*TREES*/

#leftTree {
  left: calc(7%);
}

#leftcenterTree {
  left: calc(18%);
}

#leftcenter2Tree {
  left: calc(29%);
}

#rightcenter2Tree {
  right: calc(29%);
}

#rightcenterTree {
  right: calc(18%);
}
#rightTree {
  right: calc(7%);
}


.Tree {
  position: absolute;
  width: 10px;
  height: 200px;
  background-color: #86592d;
  border-radius: 10px 10px 0 0;
  bottom: calc(380px);
  /*transform: scale(0.7);*/
}
.Tree::before {
  position: absolute;
  content: "";
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #81bb44;
  z-index: -1;
  top: calc(-15px);
  left: calc(-20px);
  box-shadow: 0px 0px 0 25px #81bb44, 0px 100px 0 25px #81bb44, -50px 90px 0 10px #81bb44, -50px 35px 0 10px #81bb44, 0px 40px 0 25px #81bb44, -20px 40px 0 25px #81bb44, 50px 90px 0 10px #81bb44, 60px 30px 0 15px #81bb44, 50px -17px 0 0px #81bb44;
}
.Tree div:nth-child(1) {
  position: absolute;
  width: 10px;
  height: 100px;
  background-color: #86592d;
  -webkit-transform-origin: bottom;
  transform-origin: bottom;
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
  border-radius: 10px 10px 0 0;
}
.Tree div:nth-child(1)::after {
  position: absolute;
  content: "";
  width: 10px;
  height: 50px;
  background-color: #86592d;
  -webkit-transform-origin: bottom;
  transform-origin: bottom;
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
  border-radius: 10px 10px 0 0;
  
}
.Tree div:nth-child(2) {
  position: absolute;
  width: 10px;
  height: 70px;
  background-color: #86592d;
  -webkit-transform-origin: bottom;
  transform-origin: bottom;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  border-radius: 10px 10px 0 0;
  box-shadow: -50px 50px 0 0 #86592d;
  bottom: calc(130px);
  
}


/* CLOUDS */

.cloudLeft {
  position: absolute;
  width: 150px;
  height: 5px;
  border-radius: 100px;
  background-color: #C0EBE2;
  top: calc(180px);
  left: 0;
  z-index: 1000;
  -webkit-animation: cloudMoveLeft 30s linear infinite;
  animation: cloudMoveLeft 90s linear infinite;
}
.cloudLeft::after {
  position: absolute;
  content: "";
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #d6f5f5;
  top: -96px;
  left: -50px;
  box-shadow: 150px 0 0 0 #d6f5f5, 80px -50px 0 0 #d6f5f5, 80px 0px 0 0 #d6f5f5, 115px 31px 0 -30px #d6f5f5, 40px 31px 0 -30px #d6f5f5, 30px 31px 0 -30px #d6f5f5, 50px 31px 0 -30px #d6f5f5;
}
.cloudRight {
  position: absolute;
  width: 250px;
  height: 5px;
  border-radius: 100px;
  background-color: #d6f5f5;
  top: 300px;
  right: 0%;
  z-index: -8;
  -webkit-animation: cloudMoveRight 40s linear infinite;
  animation: cloudMoveRight 120s linear infinite;
}
.cloudRight::after {
  position: absolute;
  content: "";
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #d6f5f5;
  top: -96px;
  left: -50px;
  box-shadow: 150px 0 0 0 #d6f5f5, 60px -60px 0 0 #d6f5f5, 250px 0px 0 0 #d6f5f5, 200px -60px 0 0 #d6f5f5, 130px -40px 0 0 #d6f5f5, 40px 0px 0 0 #d6f5f5, 80px 0px 0 0 #d6f5f5, 110px 0px 0 0 #d6f5f5, 180px 0px 0 0 #d6f5f5, 210px 0px 0 0 #d6f5f5;
}

@-webkit-keyframes cloudMoveLeft {
  0% {
    left: -10%;
  }
  100% {
    left: 400%;
  }
}
@keyframes cloudMoveLeft {
  0% {
    left: -10%;
  }
  100% {
    left: 400%;
  }
}
@-webkit-keyframes cloudMoveRight {
  0% {
    right: -10%;
  }
  100% {
    right: 400%;
  }
}
@keyframes cloudMoveRight {
  0% {
    right: -10%;
  }
  100% {
    right: 500%;
  }
}


/* DOME */

img {
    width: 63%;
    height: auto;
    position: absolute;
    z-index: 200;
    bottom: calc(250px);
    display: block;
    margin-left: 16%;
}

#dome2{
  margin-left: 416%;
}



#maseeh {
    margin-left: 355.6%;
    width: 36.5%;
    bottom: calc(280px);
}

#mccormick {
    margin-left: 295%;
    width: 44.5%;
    bottom: calc(270px);
}

#greenbuilding{
    margin-left: 120%;
    bottom: calc(220px);
    width: 19%;
  
}

#stata{
    margin-left: 180%;
    bottom: calc(220px);
    width: 90%;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 2s ease-in-out;
    -ms-transition: all 2s ease-in-out;
    transition: all 2s ease-in-out;
}

.scaleDown {
    -webkit-transform: scale( 1 );
    -moz-transform: scale( 1 );
    -o-transform: scale( 1);
    -ms-transform: scale( 1);
    transform: scale( 1);
    
}

.scaleUp {
    -webkit-transform: scale( 4 );
    -moz-transform: scale( 4 );
    -o-transform: scale( 4);
    -ms-transform: scale( 4);
    transform: scale( 4);
    
}


.blackout{ 
  margin-left:198.5%;
  width:100px; height:100px;  
  position :absolute; 
  left:50%; top:50%; transform: translate(-50%,-50%);
  border:7px solid rgba(0,0,0,0.95);
  border-radius:50%;
  border-width:5000px;
  z-index:100000;
  
  
    animation-name: blackout;
    animation-duration: 4s;
}

@keyframes blackout {
    from {width: 2000px;
          height: 2000px;}
    to {width: 200;
        height: 200}
}




/* SAILBOATS */



.sailboat{
  width: 17%;
   bottom: calc(80px);
  
}

#sailleft{
      margin-left:335%;
      bottom: calc(60px);
  animation-duration: 4s;
  animation-name: floating1;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

#sailcenter{
      margin-left: 75%;
      bottom: calc(20px);
  animation-duration: 6s;
  animation-name: floating1;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

#sailright{
      margin-left: 150%;
    bottom: calc(110px);
  animation-duration: 5s;
  animation-name: floating2;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

#sailleft2{
      margin-left: 335%;
      bottom: calc(60px);
  animation-duration: 4s;
  animation-name: floating1;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

#sailcenter2{
      margin-left: 75%;
      bottom: calc(20px);
  animation-duration: 6s;
  animation-name: floating1;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}


@keyframes floating1 {
    from { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    to   { transform: translate(0, -0px); }    
}

@keyframes floating2 {
    from { transform: translate(0, 15px); }
    50%  { transform: translate(0, 0px); }
    to   { transform: translate(0, 15px); }    
}