@import url(https://fonts.googleapis.com/css?family=PT+Sans);
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  background: #5665aa;
  width: 190%;
  height: 100%;
  font-family: "PT Sans", sans-serif;
}

.skills-bar-container {
  position: absolute;
  width: 700px;
  min-width: 300px;
  -webkit-transform: translate(100px, 170px);
  transform: translate(100px, 170px);
  list-style: none;
  padding: 35px;
  border: solid;
  border-color: #111111;
  border-width: 20px;
  border-radius: 15px;
  background: #222222;
  bottom:45%;
  
}
.skills-bar-container li {
  position: relative;
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}
.skills-bar-container li .progressbar-title {
  color: #fff;
}
.skills-bar-container li .progressbar-title h3 {
  display: inline-block;
}
.skills-bar-container li .progressbar-title .percent {
  position: absolute;
  right: 5px;
}
.skills-bar-container li .bar-container {
  background: #555;
  position: relative;
  width: 100%;
  height: 5px;
  margin-top: 5px;
  display: block;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}
.skills-bar-container li .bar-container .progressbar {
  position: absolute;
  width: 0%;
  height: 100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.skills-bar-container li .bar-container #progress-python {
  -webkit-animation-name: progress-python;
  animation-name: progress-python;
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}
.skills-bar-container li .bar-container #progress-java {
  -webkit-animation-name: progress-java;
  animation-name: progress-java;
  -webkit-animation-delay: 1.4s;
  animation-delay: 1.4s;
}
.skills-bar-container li .bar-container #progress-html {
  -webkit-animation-name: progress-html;
  animation-name: progress-html;
  -webkit-animation-delay: 2.1s;
  animation-delay: 2.1s;
}
.skills-bar-container li .bar-container #progress-css {
  -webkit-animation-name: progress-css;
  animation-name: progress-css;
  -webkit-animation-delay: 2.8s;
  animation-delay: 2.8s;
}
.skills-bar-container li .bar-container #progress-javascript {
  -webkit-animation-name: progress-javascript;
  animation-name: progress-javascript;
  -webkit-animation-delay: 3.5s;
  animation-delay: 3.5s;
}
.skills-bar-container li .bar-container #progress-C {
  -webkit-animation-name: progress-C;
  animation-name: progress-C;
  -webkit-animation-delay: 2.8s;
  animation-delay: 2.8s;
}

.progressred {
  background-color: #F92672;
}

.progressblue {
  background-color: #66D9EF;
}

.progresspurple {
  background-color: #9b59b6;
}

.progressorange {
  background-color: #FD971F;
}

.progressgreen {
  background-color: #A6E22E;
}

.progressyellow {
  background-color: #ffd749;
}

@-webkit-keyframes progress-python {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@-webkit-keyframes progress-java {
  0% {
    width: 0%;
  }
  100% {
    width: 75%;
  }
}
@-webkit-keyframes progress-html {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@-webkit-keyframes progress-css {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@-webkit-keyframes progress-javascript {
  0% {
    width: 0%;
  }
  100% {
    width: 75%;
  }
}
@-webkit-keyframes progress-C {
  0% {
    width: 0%;
  }
  100% {
    width: 50%;
  }
}
@-moz-keyframes progress-python {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@-moz-keyframes progress-java {
  0% {
    width: 0%;
  }
  100% {
    width: 75%;
  }
}
@-moz-keyframes progress-html {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@-moz-keyframes progress-css {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@-moz-keyframes progress-javascript {
  0% {
    width: 0%;
  }
  100% {
    width: 75%;
  }
}
@-moz-keyframes progress-C {
  0% {
    width: 0%;
  }
  100% {
    width: 50%;
  }
}
@keyframes progress-python {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@keyframes progress-java {
  0% {
    width: 0%;
  }
  100% {
    width: 75%;
  }
}
@keyframes progress-html {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@keyframes progress-css {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@keyframes progress-javascript {
  0% {
    width: 0%;
  }
  100% {
    width: 75%;
  }
}
@keyframes progress-C {
  0% {
    width: 0%;
  }
  100% {
    width: 50%;
  }
}

.lang{
  float: right;
}

.heading {
  text-align: center;
  padding-bottom: 5px;
  display: inline-block;
  font-size: 2em;
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 700;
  letter-spacing: -.05em;
  letter-spacing: .05em;
  text-transform: uppercase;
  color: white;
  
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

    
.comp-base {
  z-index: 100;
}

.comp-base_comp {
  position: absolute;
  margin-left: 0 ;
  width: 820px;
  height: 30px;
  border-radius: 2px 2px 10px 10px;
  background: #ccc;
  z-index: 100;
  -webkit-transform: translate(-14%, 410%);
  transform: translate(-14%, 410%);
}
.comp-base_comp_handle {
  margin: 0 auto;
  width: 75px;
  height: 10px;
  border-radius: 0 0 5px 5px;
  background: gray;
}


.keyboard {
  width: 752px;
  height: 75px;
  background: #666666;
  transform: translate(-17.5%, -7%) perspective(8px) rotateX(1deg);
  margin: 50px;
  position:absolute
}

.trackpad {
  width: 275px;
  height: 25px;
  background: #555555;
  transform: translate(40%, 150%) perspective(3px) rotateX(1deg);
  margin: 50px;
  position:absolute
}

.keys {
  width: 600px;
  height: 30px;
  background: #333333;
  transform: translate(-10%, 10%) perspective(6px) rotateX(1deg);
  margin: 50px;
  position:absolute
}

#table {
  width: 150%;
  height: 35%;
  background: #6f5942;
  position:absolute;
  display:block;
  position:fixed;
   left:0px;
   bottom:0px;
   width:100%;
}

#container{
  overflow-y: scroll;
}

#posters{
  width: 100%;
  height: 65%;
  position: absolute;
  transform: translate(1000px,0);
}

.poster{
  position:relative;
  height: 78%;
  width: 7%;
  margin-left:30px;
  top:10%;
  background: #5665aa;
  overflow-y: hidden;
  overflow-x: hidden;
  float:left;
  border-radius:10px;
}

.poster:hover{
  box-shadow: 0px 0px 150px #000000;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.1);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.1);
    transition: all 200ms ease-in;
    transform: scale(1.1);
  
}

#poster-projects{
  background: url("https://image.ibb.co/dkSv7R/Bungee_PROJECTS.png") no-repeat; 
   background-size: 60%;
  position:relative;
  height: 78%;
  width:3.5%;
  max-width: 100px;
  margin-left:30px;
  top:10%;
  overflow-y: hidden;
  overflow-x: hidden;
  float:left;
  border-radius:5px;
}

#poster-awards{
  background: url("https://image.ibb.co/dkSv7R/Bungee_PROJECTS.png") no-repeat; 
   background-size: 60%;
  position:relative;
  height: 78%;
  width:3.5%;
  max-width: 100px;
  margin-left:150px;
  top:10%;
  overflow-y: hidden;
  overflow-x: hidden;
  float:left;
  border-radius:5px;
}




#SWE-poster img{
  width:92%;
  margin:4%;
  top:30%;
  position: absolute;
}

#SWE-poster{
  background:#8e82bc;
}


#street-poster{
   background: #2B3E50;
   background-size: 700%;
  }
#street-poster img{
  width:92%;
  margin:4%;
  top:20%;
  position: absolute;
}

#NCWIT-poster{
   background: #d5db85;
   background-size: 700%;
  }
#NCWIT-poster img{
  width:92%;
  margin:4%;
  top:20%;
  position: absolute;
}

#linnear-poster{
   background: #9fcc41;
   background-size: 700%;
  }
#linnear-poster img{
  width:92%;
  margin:4%;
  top:25%;
  position: absolute;
}

#AWM-poster{
   background: #F0F0F0;
   background-size: 700%;
  }
#AWM-poster img{
  width:100%;
  margin:2%;
  top:28%;
  position: absolute;
}

#NG-poster{
   background: #1F4E7E;
   background-size: 700%;
  }
#NG-poster img{
  width:101%;
  top:19%;
  margin-left: -0.4%;
  position: absolute;
}

#ITF-poster{
   background: #5790b2;
   background-size: 700%;
  }
#ITF-poster img{
  width:100%;
  top:35%;
  position: absolute;
}

#web-poster{
   background-image: url("/6148IMG.jpg");
   background-size: 100%;
   background-repeat: repeat;
  }
#web-poster img{
  width: 100%;
  margin:0%;
  top:0%;
  position: absolute;
}

/*Planet*/

.R-T , .R-D{
  width:300px; height:300px;
  position:absolute;
  left:50%; top:50%; transform: translate(-50%,-50%);
  opacity:0.8;
  overflow:visible;
  z-index:1;
}

.R-T {clip:rect(0px 300px 150px 0px);   }
.R-D {clip:rect(150px 300px 300px 0px);  }

#core{
  line-height:160px;
  text-align:center; color:white;
  font-size:35px; font-family:'Oswald', tahoma; 
  position:absolute;
  left:50%; top:50%;
  width:160px; height:160px;
  background-color:#ff8000;
  border-radius:50%;
  transform: translate(-50%,-50%);
  z-index:1;
  box-shadow: inset 0px -10px 2px 5px rgba(0,0,0,0.3) , inset 0px 0px 50px 0px rgba(0,0,0,0.5) ;
  text-shadow: 0px 4px 0px rgba(0,0,0,0.5);
}

svg{overflow:visible}


#contain{
  width:92%;
  margin:4%;
  top:55%;
  position: absolute;
}

#logic-poster{
  background:#222222;
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 180px;
  height: 450px;
  pointer-events: none;
  transform: translate(85px) scale(4.5);
}

#vulture-poster{
  background: #A34954;
}

#vulture-poster img{
  width:100%;
  top:30%;
  position: absolute;
}

/*.window{
  position:relative;
  height: 96%;
  margin-left:220px;
  top:2%;
  float:right;
  border-radius:5px;
}*/



.pendulum {
  position: absolute;
  bottom: 40%;
  right: -117%;
  transform: scale(1.7);
  align-self: right;
}

.pendulum:hover{
  -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(2.5);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(2.5);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(2.5);
    transition: all 200ms ease-in;
    transform: scale(2.5);
}


.pendulum .base {
  position: absolute;
  top: 90px;
  left: 50%;
  transform: translate(-50%, 0);
  background: #a88b6b;
  width: 400px;
  height: 20px;
  border-radius: 10px 10px 0 0;
}
.pendulum .rack {
  position: absolute;
  z-index: 10;
  top: -110px;
  left: 50%;
  box-sizing: border-box;
  width: 300px;
  height: 200px;
  border: solid 5px #909090;
  border-bottom: none;
  border-radius: 15px 15px 0 0;
  transform: translate(-50%, 0);
}
.pendulum .balls {
  position: absolute;
  top: -105px;
  left: 0;
  width: 250px;
  margin-left: -125px;
}

#newton1{
  background: url("http://svgur.com/i/55h.svg");
}

#newton2{
  background: url("http://svgur.com/i/54y.svg");
}

#newton3{
  background: url("http://svgur.com/i/562.svg");
}

#newton4{
  background: url("http://svgur.com/i/56B.svg");
}

#newton5{
  background: url("http://svgur.com/i/54z.svg");
}


.pendulum .balls > div {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  position: absolute;
  top: 120px;
  background-size:auto;
  transform-origin: 50% -120px;
  animation: 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite alternate middle-ball;
}
.pendulum .balls > div:first-child {
  animation: 0.8s cubic-bezier(0.55, 0.085, 0.68, 0.53) infinite alternate left-ball;
}
.pendulum .balls > div:last-child {
  animation: 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) infinite alternate right-ball;
}
.pendulum .balls > div:nth-child(1) {
  left: 0%;
}
.pendulum .balls > div:nth-child(2) {
  left: 20%;
}
.pendulum .balls > div:nth-child(3) {
  left: 40%;
}
.pendulum .balls > div:nth-child(4) {
  left: 60%;
}
.pendulum .balls > div:nth-child(5) {
  left: 80%;
}
.pendulum .balls > div::before {
  content: "";
  position: absolute;
  top: -120px;
  left: 50%;
  height: 120px;
  width: 1px;
  background: #333;
}
@-moz-keyframes left-ball {
  0% {
    transform: rotate(40deg);
  }
  50% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(0);
  }
}
@-webkit-keyframes left-ball {
  0% {
    transform: rotate(40deg);
  }
  50% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(0);
  }
}
@-o-keyframes left-ball {
  0% {
    transform: rotate(40deg);
  }
  50% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(0);
  }
}
@keyframes left-ball {
  0% {
    transform: rotate(40deg);
  }
  50% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(0);
  }
}
@-moz-keyframes middle-ball {
  0% {
    transform: rotate(2deg);
  }
  100% {
    transform: rotate(-2deg);
  }
}
@-webkit-keyframes middle-ball {
  0% {
    transform: rotate(2deg);
  }
  100% {
    transform: rotate(-2deg);
  }
}
@-o-keyframes middle-ball {
  0% {
    transform: rotate(2deg);
  }
  100% {
    transform: rotate(-2deg);
  }
}
@keyframes middle-ball {
  0% {
    transform: rotate(2deg);
  }
  100% {
    transform: rotate(-2deg);
  }
}
@-moz-keyframes right-ball {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-40deg);
  }
}
@-webkit-keyframes right-ball {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-40deg);
  }
}
@-o-keyframes right-ball {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-40deg);
  }
}
@keyframes right-ball {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-40deg);
  }
}

h1{
  font-family: 'Bungee', cursive;
font-family: 'Bungee Inline', cursive;
}


.global-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}
.global-wrapper aside {
  position: relative;
  width: 80px;
  float: left;
  text-align: center;
  line-height: 26px;
  height: 100%;
  transition: all 0.3s ease-in-out;
  margin-left: 20px;
  margin-top: 0px;
  font-size: 1em;
  z-index: 10;
  font-weight: 700;
  font-family: 'Lato', sans-serif;
}
.global-wrapper aside ul {
  list-style: none;
  padding-left: 0px;
  position: fixed;
  text-align: left;
}
.global-wrapper aside ul li {
  padding: 2vh 0 1vh 0;
  cursor: pointer;
}
.global-wrapper aside ul li:hover i {
  color: white !important;
  opacity: 0.5;
}
.global-wrapper aside ul li:hover span {
  opacity: 0.1;
}
.global-wrapper aside ul li .nav-item {
  display: inline-block;
  width: 30px;
  overflow: hidden;
  height: 30px;
  transition: width 0.3s ease-in-out;
  white-space: nowrap;
  color: white; /*CHANGED*/
}
.global-wrapper aside ul li .nav-item i {
  opacity: 0;
  float: left;
  position: relative;
  top: -3px;
  color: white;
  font-size: 30px;
}
.global-wrapper aside ul li .nav-item #menu {
  opacity: 1;
}
.global-wrapper aside ul li .nav-item span {
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
.global-wrapper aside ul:nth-child(3) {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}
.global-wrapper aside:hover {
  width: 170px;
  margin-left: 20px;
  transition: all 0.3s ease-in-out;
}
.global-wrapper aside:hover .nav-item {
  display: inline-block;
  width: 150px;
  overflow: hidden;
  height: 30px;
  transition: all 0.3s ease-in-out;
}
.global-wrapper aside:hover .nav-item i {
  opacity: 1;
  float: left;
}
.global-wrapper aside:hover .nav-item span {
  opacity: 1;
  transition: all 0.5s ease-in-out;
}
.global-wrapper aside:hover ~ #main {
  width: calc(100% - 302px);
  transition: all 0.3s ease-in-out;
}
.global-wrapper aside:hover ~ #main #blackout-on-hover {
  position: absolute;
  background: black;
  width: 100%;
  height: 100%;
  z-index: 10;
  opacity: .5;
  transition: opacity 0.3s ease-in-out;
}
