body {
  padding: 0;
  margin: 0;
  font-family: 'Playfair Display', serif;
  color: #fff;
  background-color: #45CCFF;
}

#hero {
  height: 800px;
  overflow: hidden;
  position: relative;
}

.layer {
  background-position: center center;
  background-size: auto;
  background-repeat: no-repeat;
  width: 100%;
  height: 800px;
  position: fixed;
  z-index: -1;
  min-height: 3000px;
}

#hero-mobile {
  display: none;
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/962688/Cloudsall.png") no-repeat center bottom/contain;
  height: 320px;
}

h1 {
  line-height: 120%;
  margin-bottom: 30px;
}

#hero {
  min-height: 5000px;
}

.layer-bg {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/962688/Cloudsall.png");
}

.layer-1 {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/962688/Cloud1.png\a 		");
  background-position: right center;
}

.layer-2 {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/962688/Cloud2.png");
}

.layer-3 {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/962688/Cloud3.png\a 		");
  background-position: right center;
}

.layer-4 {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/962688/Cloud1.png\a 		");
  background-position: 0% 20%;
}

.floor {
  position: absolute;
  width: 100%;
  height: 5vh;
  bottom: calc(0px);
  left: calc(0px);
  background-image: linear-gradient(to top, #8CC152 50px, #8CC152 50px);
  /*grass color*/
}

#greenbuilding {
  position: absolute;
  width: 33vh;
  bottom: calc(-30vh);
  left: calc(70vw);
}

h1.custom-orange {
  font-family: 'Righteous', cursive;
  font-weight: 900;
  color: #f9a23e;
  text-transform: uppercase;
}

.education {
  position: absolute;
  font-size: 3.3vw;
  transform: translate(40vw, -3vh);
  text-shadow: 1px 1px #e07f0f, 2px 2px #e07f0f, 3px 3px #e07f0f, 4px 4px #e07f0f, 5px 5px #e07f0f, 6px 6px #e07f0f, 7px 7px #e07f0f, 8px 8px #e07f0f, 9px 9px #e07f0f, 10px 10px #e07f0f;
}

#schools {
  font-family: 'Righteous', cursive;
  position: absolute;
  font-size: 1.2vw;
  width: 60vw;
  text-shadow: .75px .75px #e07f0f, 1.5px 1.5px #e07f0f, 2.25px 2.25px #e07f0f, 3px 3px #e07f0f, 3.75px 3.75px #e07f0f, 4.5px 4.5px #e07f0f, 5.25px 5.25px #e07f0f, 6px 6px #e07f0f, 6.75px 6.75px #e07f0f, 7.5px 7.5px #e07f0f;
}

#exp {
  transform: translate(10vw, 135vh);
  width: 60vw;
}

#expinfo {
  font-family: 'Righteous', cursive;
  position: absolute;
  font-size: 1.2vw;
  text-shadow: .75px .75px #e07f0f, 1.5px 1.5px #e07f0f, 2.25px 2.25px #e07f0f, 3px 3px #e07f0f, 3.75px 3.75px #e07f0f, 4.5px 4.5px #e07f0f, 5.25px 5.25px #e07f0f, 6px 6px #e07f0f, 6.75px 6.75px #e07f0f, 7.5px 7.5px #e07f0f;
}

#exp2 {
  transform: translate(40vw, 320vh);
  width: 60vw;
}

#expinfo2 {
  font-family: 'Righteous', cursive;
  position: absolute;
  font-size: 1.2vw;
  text-shadow: .75px .75px #e07f0f, 1.5px 1.5px #e07f0f, 2.25px 2.25px #e07f0f, 3px 3px #e07f0f, 3.75px 3.75px #e07f0f, 4.5px 4.5px #e07f0f, 5.25px 5.25px #e07f0f, 6px 6px #e07f0f, 6.75px 6.75px #e07f0f, 7.5px 7.5px #e07f0f;
}

.smaller {
  font-size: 2vw;
  text-shadow: 0.5px 0.5px #e07f0f, 1px 1px #e07f0f, 1.5px 1.5px #e07f0f, 2px 2px #e07f0f, 2.5px 2.5px #e07f0f, 3px 3px #e07f0f, 3.5px 3.5px #e07f0f, 4px 4px #e07f0f, 4.5px 4.5px #e07f0f, 5px 5px #e07f0f;
}

.layer-overlay {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/962688/Cloud.png\a 		");
  background-position: top center;
}

.layer-overlay2 {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/962688/Cloud.png\a 		");
  background-position: left center;
}

@media only screen and (max-width: 768px) {
  #hero {
    display: none;
  }

  #hero-mobile {
    display: block;
  }
}
.container {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.plane {
  position: absolute;
  z-index: 10;
  width: 30vw;
  max-width: 400px
}

#Layer_1 {
  fill: none;
  position: absolute;
  max-width: 726px;
}

@media (max-width: 1600px){
    #balloonPath{
    d: "m-154.352941,48.24997c0,25.000248 0,31.250309 0,31.250309c218.562589,405.2852 685.435442,535.250145 885.98444,676.143407c200.548996,140.893262 196.676627,516.495732 83.219588,761.254577c-146.376371,268.758557 -616.585438,254.209728 -740.419241,627.961153c-150.212071,638.936072 -146.809364,1020.128904 39.582304,1334.674375c316.091587,412.968066 250.044103,349.777436 252.100425,463.300093" !important;
    }
}

@media (min-width: 1600px){
    #balloonPath{
    d: "m9.313724,106.166943c34.694177,513.2852 783.700667,675.25014 1023.826415,816.14341c240.125737,140.89326 235.489197,516.49573 99.642314,761.25457c-175.262581,268.75856 -738.263668,254.20973 -886.535082,627.96116c-179.855238,638.93607 -175.78103,1020.1289 47.393552,1334.67437c378.469748,412.96807 299.388312,349.77744 301.85043,463.30009" !important;
    }
}